parser: babel-eslint

env:
  browser: true
  node: true
  jest: true

plugins:
  - jsx-a11y
  - react
  - graphql

parserOptions:
  ecmaFeatures:
    jsx: true

extends:
  - airbnb
  - plugin:jsx-a11y/recommended

settings:
  import/resolver:
    webpack: true
  react:
    pragma: React
    version: '16.0'

rules:
  semi:
    - error
    - never
  object-curly-newline: 0
  jsx-a11y/anchor-is-valid:
    - error
    - components:
        - Link
      specialLink:
        - to
        - hrefLeft
        - hrefRight
      aspects:
        - noHref
        - invalidHref
        - preferButton
  jsx-a11y/label-has-for: 0
  react/no-typos: 0
