.score {
  appearance: none;
  width: 100%;
  background: #ddd;

  &[value="1"] { background: #a00; }
  &[value="2"] { background: #a73; }
  &[value="3"] { background: #077; }
  &[value="4"] { background: #090; }
}
