.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: 64px;
  opacity: 1;
  z-index: 3;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 3em;
  width: auto;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  padding: 0.5em;

  a {
    color: #555;
    display: block;
    padding: 0.5em;
    text-decoration: none;

    &:hover {
      color: #a00;
    }
  }
}
