@import "../../stylesheets/settings";

.menu {
  position: fixed;
  top: 1em;
  right: 1em;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  z-index: 10;
}

.link {
  padding: 0.5em;
  margin-left: 0.5em;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: 1em;
  display: inline-block;
  color: #000;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

.active {
  font-weight: 400;
}

.divider {
  border-top: 1px solid #ddd;
}
