@import "../../stylesheets/settings";

.menu {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
}

.link {
  padding: 0.5em;
  margin-left: 0.5em;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: 1em;
  display: inline-block;
  color: #000;
  background: none;
  border: none;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #000;
  }
}

.active {
  background-color: #ddd;
}

.divider {
  border-right: 1px solid #ddd;
  margin: 0 0.5em;
}
